.gm-style-iw-d {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px;
}

.select-category {
  z-index: 10;
  position: absolute;
  top: 90px;
  left: 7px;
  background-color: #fff;
  border-radius: 25px;
  color: #000;
  font-size: 13px;
  width: 150px;
}

#cdk-overlay-0 {
  margin-top: 30px;
}

#mat-select-0-panel {
  width: 70px;
}

.ng-tns-c56-0 {
  width: 150px;
  color: #000;
  font-weight: bold;
  font-size: 14px;
}

.mat-select-value .ng-tns-c93-1 {
  color: #000;
}

.mat-progress-spinner {
  left: 50%;
  top: -50%
}
